.app {
  min-height: 100vh;

  color: white;

  //   background-color: #333;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../public/img/rainywindow.jpg");
  background-size: cover;
  background-position: top center;
}
